@model IEnumerable<SuperShopManagementSystem.Models.ExpenseCategory>

@{
    ViewBag.Title = "ShowAll";
}

<table class="table table-bordered table-condensed table-striped table-responsive  search-table">

    <thead>
        <tr>

            <th>
                Category Name
            </th>

            <th>
                Code
            </th>
            <th>
                Parent Category
            </th>
            <th>
                Description
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>


    <tbody>

        @foreach (var item in Model)
        {
            <tr id="DelRow_@item.Id">

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parent.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = item.Id },new { @class = "btn btn-primary" })
                    <!-- Trigger the modal with a button -->
                    <a href="#" class="btn btn-danger" onclick="GetDeleteId(@item.Id)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Hidden("DeleteId")

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <h2 class="modal-title">Confirm to Delete Expense Category</h2>
            </div>
            <div class="modal-body">
                <h4>Are you sure to Delete this Expense Category ???</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input type="button" class="btn btn-danger" value="Confirm Delete" id="btnConfirmDelete" />
            </div>
        </div>

    </div>
</div>



@section Scripts {

    <script>
         var GetDeleteId = function (Id) {
             $("#DeleteId").val(Id);
             $("#myModal").modal("show");
         }

         $("#btnConfirmDelete").on("click", function () {
             var deleteId = $("#DeleteId").val();
             $.ajax({
                 url: "/ExpenseCategories/Delete",
                 data: { id: deleteId },
                 method: "post",
                 success: function (response) {
                     if (response == 1) {
                         $("#myModal").modal("hide");
                         $("#DelRow_" + deleteId).remove();
                     }
                 }
             })
         })

    </script>
}

